<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
Search:
<input ng-model="queryName">
Sort by:
<select ng-model="orderProp">
	<option value="userName">userName</option>
	<option value="id">id</option>
	<option value="realName">realName</option>
</select>
<ul>
	<li ng-repeat="systemUser in systemUserList trace by systemUser.id | filter:queryName | orderBy:orderProp" class="thumbnail">
		<md-checkbox />
		<a href="#/system-user/{{systemUser.id}}" class="thumb"><span>{{systemUser.userName}}</span></a>
		<a href="{{systemUser._links.self.href}}" class="thumb"><span>数据Json</span></a>
	</li>
</ul>
<md-button class="md-fab" aria-label="FAB">
  <md-icon md-svg-src="your/icon.svg"></md-icon>
</md-button>
<!-- mini-FAB -->
<md-button class="md-fab md-mini" aria-label="Mini FAB">
  <md-icon md-svg-src="your/icon.svg"></md-icon>
</md-button>
<!-- Button with SVG Icon -->
<md-button class="md-icon-button" aria-label="Custom Icon Button">
  <md-icon md-svg-icon="path/to/your.svg"></md-icon>
</md-button>
</div>
</div>
</div>