/** Reset */

	ul.expmenu { width: 200px; }
	ul.expmenu * { list-style: none; }
	ul.expmenu > li > div.header { padding: 8px; border-bottom: 1px #000000 solid; }
	ul.expmenu > li:last-child > div.header { border-bottom: none; }
	ul.expmenu > li ul li { background-color: #ececec; padding: 8px; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #fff; color: #727272; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
	ul.expmenu > li ul li:last-child { border-bottom: none; }
	ul.expmenu > li ul li.selected { background-color: #f4f4f4; }
	ul.expmenu div.header
	{
		color: #000000;
		font-size:15px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	}
	ul.expmenu > li > div.header > .label { padding-left: 24px; background: no-repeat; }
	ul.expmenu > li > div.header > .arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }
	ul.expmenu > li > div.header > .arrow.up { background-image: url(../images/arrow_u.png); }
	ul.expmenu > li > div.header > .arrow.down { background-image: url(../images/arrow_d.png); }

		/* Mouse Events */
		ul.expmenu div.header:hover
		{
			background: #253A69; /* Old browsers */
			background: -moz-linear-gradient(top, #253A6A 0%, #253A69 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#253A6A), color-stop(100%,#253A69)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #253A6A 0%,#253A69 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #253A6A 0%,#253A69 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #253A6A 0%,#253A69 100%); /* IE10+ */
			background: linear-gradient(to bottom, #253A6A 0%,#253A69 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#253A6A', endColorstr='#253A69',GradientType=0 ); /* IE6-9 */

			cursor: pointer;
		}

		ul.expmenu > li ul li:not(.selected):hover
		{
			background: #e7e7e7; /* Old browsers */

			cursor: pointer;
		}
		ul.expmenu > li ul li:not(.selected):active
		{
			background: #f1f1f1; /* Old browsers */

			cursor: pointer;
		}

		ul.expmenu > li ul li.xinlingmian,ul.expmenu > li ul li:hover.xinlingmian
		{
			background-image: url(../images/iconTextxinling.png);
			background-repeat: no-repeat;
			background-position:right;
		}
		ul.expmenu > li ul li.yewumian,ul.expmenu > li ul li:hover.yewumian
		{
			background-image: url(../images/iconTextyewu.png);
			background-repeat: no-repeat;
			background-position:right;
		}